<app-toolbar class="menubar">
    <a href="${app}/places.html" class="logo" data-template="lib:parse-params"/>
     <!-- Search input -->
    <pb-search action="${app}/search.html" data-template="lib:parse-params" value="${query}" redirect="redirect"/>
    <pb-media-query query="min-width: 1024px">
        <a href="http://localhost:8080/exist/apps/SardiToponomasia/masterfile.xml" data-template="lib:parse-params">Edition of the toponomasia</a>
        
    </pb-media-query>
    <pb-media-query query="min-width: 1024px">
        <a href="http://localhost:8080/exist/apps/SardiToponomasia/Project.html" data-template="lib:parse-params">The project</a>
        
    </pb-media-query>

   
   
</app-toolbar>