<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="icon" sizes="180x180" href="resources/images/Toponomasia.png"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="config:app-title"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald"/>
        <link rel="stylesheet" href="resources/css/top.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
        <style>
            main {
                max-width: 41rem;
                margin: 0 auto;
            }
            pb-leaflet-map {
    height: 50vh;
    width: 100%;
}
        </style>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved">
            <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
                    </app-header>
                     <main class="content-static">
                    <div id="Welcome" class="content-static">
                       <img src="resources/images/Toponomasia_Home.png" width="120%"/>
                    </div>
                     </main>
                <pb-leaflet-map id="map" subscribe="map" emit="map" zoom="5" cluster="" latitude="41.89193" longitude="12.51133">
    <pb-map-layer show="" base="" label="Mapbox OSM" url="https://api.mapbox.com/styles/v1/paulinejac/cl4we8yb9000k14nzhzxnime6/tiles/256/{z}/{x}/{y}@2x?access_token={accessToken}" max-zoom="19" access-token="pk.eyJ1IjoicGF1bGluZWphYyIsImEiOiJjbDR3ZTRtNWQwcWV3M2JxZXBqYjZjZzFuIn0.gIrZtXgF5eHO08y5sms_4w" attribution="© Mapbox © OpenStreetMap">
    </pb-map-layer>
    <pb-map-icon icon-url="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-flag-yellow-icon.png" icon-size="20, 38" icon-anchor="15, 35" popup-anchor="-3, -76">
    <pb-map-icon name="active" icon-url="https://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/128/Actions-flag-red-icon.png" icon-size="20, 38" icon-anchor="15, 35" popup-anchor="-3, -76">
        </pb-map-icon>
                    </pb-map-icon>
</pb-leaflet-map>
                <main>
                    <pb-custom-form id="options" auto-submit="paper-input,paper-icon-button">
                        <paper-input id="query" name="search" label="Search">
                            <paper-icon-button icon="search" slot="suffix"/>
                        </paper-input>
                    </pb-custom-form>
                    <pb-split-list url="api/places" subforms="#options" selected="A"/>
                </main>
            </app-header-layout>
        </pb-page>
        <script>
            window.addEventListener('WebComponentsReady', function() {
                pbEvents.subscribe('pb-page-ready', null, function() {
                    const endpoint = document.querySelector("pb-page").getEndpoint();
                    const url = `${endpoint}/api/places/all`;
                    console.log(`fetching places from: ${url}`);
                    fetch(url)                
                    .then(function(response) {
                        return response.json();
                    })
                    .then(function(json) {
                        pbEvents.emit("pb-update-map", "map", json)
                    });
                });

                pbEvents.subscribe('pb-leaflet-marker-click', 'map', function(ev) {
                    const label = ev.detail.label;
                    const category = label.substring(0, 1);
                    window.location = `item.html?place=${label}`;
                });
            });
        </script>
    </body>
</html>